<div class="content">
  <%= image_tag("connect_you.png") %>
  <div class="container paper">
    <ul>
      <li><%= image_tag("1.png") %>Sign up and provide us with your territory and a phone number.</li>
      <li><%= image_tag("2.png") %>When customers search for a flood or water restoration company, they call us.</li>
      <li><%= image_tag("3.png") %>We'll forward the live call to your phone number so you can close the lead.</li>
      <li><%= image_tag("4.png") %>Profit! We'll only charge you for qualified leads. Expect to get about 5/month.</li>
    </ul>
    <%= image_tag("button_send_me_more_leads.png", :class => "call_to_action" ) %>
    <%= image_tag("button_more_info.png", :class => "call_to_action" ) %>
  </div>
</div>
<div class="benefits">
  <div class="we_can_help_you">
    <%= image_tag("we_can_help_you.png", :alt => "We can help you...", :title => "We can help you...") %>
  </div>
  <div class="block">
    <%= image_tag("smiley_face.png") %>
    <h1>Get More Customers</h1>
    <p>Our average subscriber gets 5 leads a month. That's a potential for 5 extra jobs every month!</p>
  </div>
  <div class="block">
    <%= image_tag("clock.png") %>
    <h1>Save More Time</h1>
    <p>Focus on growing your business & satisfying your customers. We'll handle your marketing.</p>
  </div>
  <div class="block">
    <%= image_tag("map_pin.png") %>
    <h1>Protect Your Territory</h1>
    <p>We won't split your leads with your competition. When you sign up for a market, it's yours.</p>
  </div>
  <div class="block">
    <%= image_tag("dollar_sign.png") %>
    <h1>Make More Money</h1>
    <p>Each job is about $3000. Close half your leads & you'll make an extra $7500 every month.</p>
  </div>
</div>